<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <a href="../"><button class="CollectionLinkButton">Return to collection</button></a>
    <%- include('../partials/bookdisplay' ) %>

    <form class="addBookForm" action="/books/<%= book.id %>/?method=PUT" method="POST" >
        <fieldset class="addBookField">
    
            <input type="text" name="title" value="<%= book.title %>">
            <input type="text" name="author" value="<%= book.author %>">
            <input type="text" name="description" value="<%= book.description %>">
            <input type="text" name="isbn" value="<%= book.isbn %>">
            <input type="text" name="bookshelf" value="<%= book.bookshelf %>">
            <input type="text" name="image" value="<%= book.image %>">
        </fieldset>
    </form>
   
</body>
</html>