<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>

    <H1>Welcome to Best Books</H1>

    <section>
        <h5> Your Collection: <%= count  %> books </h5>
    </section>

    <main class="resultsMain">

            <% book.forEach(book => { %>
        <article class="bookRender">
            <img src="<%= book.image %>" >
            
            <h2><%= book.title %></h2> 
            
            <h3><%= book.author %></h3>
            
            <p>  <%= book.description %>    </p>  
        </article>
            <% }) %>
    
    </main>

    <a href="/searches/new"><button> Search for Books</button> </a>
</body>
</html>